.banner__body, .popular-models__sections, .networks-ad__body, .networks-ad__menu, .networks-ad__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner {
  width: 100%;
}

.banner__body {
  width: 100%;
}

.banner__article {
  width: 30%;
  margin-top: 30px;
  -webkit-transform: translateX(90px);
          transform: translateX(90px);
}

.banner__headline {
  font-size: 44px;
  font-family: 'Playfair Display', sans-serif;
  margin-bottom: 40px;
}

.banner__headline span {
  font-size: 30px;
}

.banner__text {
  color: #1b1a17d1;
  margin-bottom: 65px;
}

.banner__btn {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  background: #444240;
  color: white;
  border: 1px solid #444240;
  -webkit-transition: .3s;
  transition: .3s;
}

.banner__btn:hover {
  background: white;
  color: #444240;
  border: 1px solid #444240;
}

.banner__photo {
  width: 65%;
  margin-top: 30px;
}

.popular-models {
  width: 100%;
}

.popular-models__body {
  width: 100%;
  margin-top: 100px;
}

.popular-models__headline {
  font-size: 32px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  color: #1B1A17;
  text-align: center;
}

.popular-models__link-position {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular-models__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #C4C0B6;
  font-size: 16px;
  font-weight: 500;
  color: #444240;
}

.popular-models__sections {
  width: 100%;
  margin-top: 65px;
}

.popular-models__section {
  width: 30%;
}

.popular-models__watches-name {
  font-size: 14px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: bold;
  color: #1b1a17d1;
  margin-bottom: 10px;
}

.popular-models__watches-prices {
  font-size: 12px;
  font-family: 'Prata', serif;
  color: #1b1a17d1;
}

.popular-models__watches-photos {
  width: 100%;
  margin-bottom: 20px;
}

.popular-models__more-details {
  font-size: 16px;
  font-family: 'Playfair Display', sans-serif;
  color: #1B1A17;
  position: relative;
  margin-left: 50px;
}

.popular-models__more-details::before {
  content: "";
  width: 30px;
  height: 1px;
  background: #8B8371;
  position: absolute;
  top: 12px;
  left: -50px;
}

.quality {
  width: 100%;
  margin-top: 100px;
  background: url(../img/quality_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.quality__body {
  width: 95%;
  height: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quality__photo {
  width: 45%;
  margin-right: 50px;
}

.quality__article {
  width: 40%;
}

.quality__headline {
  font-size: 32px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  color: #1B1A17;
  margin-bottom: 40px;
}

.quality__text {
  color: #444240;
}

.quality__btn {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  background: #D4B098;
  color: white;
  border: 1px solid #D4B098;
  -webkit-transition: .3s;
  transition: .3s;
  margin-top: 60px;
}

.quality__btn:hover {
  background: white;
  color: #D4B098;
  border: 1px solid #D4B098;
}

.networks-ad {
  width: 100%;
}

.networks-ad__body {
  width: 100%;
  margin-top: 100px;
}

.networks-ad__article {
  width: 45%;
}

.networks-ad__headline {
  font-size: 32px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  color: #1B1A17;
  margin-bottom: 40px;
}

.networks-ad__text {
  line-height: 27px;
  margin-bottom: 120px;
}

.networks-ad__text span {
  font-weight: bold;
  color: #262421;
}

.networks-ad__menu {
  width: 25%;
}

.networks-ad__link {
  width: 23px;
}

.networks-ad__link img {
  width: 100%;
}

.networks-ad__gallery {
  width: 50%;
}

.networks-ad__gallery div:nth-child(1) {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 9px;
}

.networks-ad__gallery div:nth-child(2) {
  width: 55%;
}

.networks-ad__gallery__photo-1, .networks-ad__gallery__photo-2 {
  width: 100%;
  margin-bottom: 9px;
}

.networks-ad__gallery__photo-3 {
  width: 100%;
}
