.banner__body, .popular-models__sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner {
  width: 100%;
}

.banner__body {
  width: 100%;
}

.banner__article {
  width: 30%;
  margin-top: 30px;
  -webkit-transform: translateX(90px);
          transform: translateX(90px);
}

.banner__headline {
  font-size: 44px;
  font-family: 'Playfair Display', sans-serif;
  margin-bottom: 40px;
}

.banner__headline span {
  font-size: 30px;
}

.banner__text {
  color: #1b1a17d1;
  margin-bottom: 65px;
}

.banner__btn {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  background: #444240;
  color: white;
  border: 1px solid #444240;
  -webkit-transition: .3s;
  transition: .3s;
}

.banner__btn:hover {
  background: white;
  color: #444240;
  border: 1px solid #444240;
}

.banner__photo {
  width: 65%;
  margin-top: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.popular-models {
  width: 100%;
}

.popular-models__body {
  width: 100%;
  margin-top: 100px;
}

.popular-models__headline {
  font-size: 32px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  color: #1B1A17;
  text-align: center;
}

.popular-models__link-position {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular-models__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #C4C0B6;
  font-size: 16px;
  font-weight: 500;
  color: #444240;
}

.popular-models__sections {
  width: 100%;
  margin-top: 65px;
}

.popular-models__section {
  width: 30%;
}

.popular-models__watches-name {
  font-size: 14px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: bold;
  color: #1b1a17d1;
  margin-bottom: 10px;
}

.popular-models__watches-prices {
  font-size: 12px;
  font-family: 'Prata', serif;
  color: #1b1a17d1;
}

.popular-models__watches-photos {
  width: 100%;
  margin-bottom: 20px;
}

.popular-models__more-details {
  font-size: 16px;
  font-family: 'Playfair Display', sans-serif;
  color: #1B1A17;
  position: relative;
  margin-left: 50px;
}

.popular-models__more-details::before {
  content: "";
  width: 30px;
  height: 1px;
  background: #8B8371;
  position: absolute;
  top: 12px;
  left: -50px;
}
